@using GetFitApp.Data.Enums
@using GetFitApp.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            @{
                var user = await UserManager.GetUserAsync(User);
                if (user.UserType == UserType.Member)
                {
                    <a asp-controller="Member" asp-action="Index" class="nav-link link-body-emphasis text-dark px-2">
                        Dashboard
                    </a>
                }
                else
                {
                    <a asp-controller="Trainer" asp-action="Index" class="nav-link link-body-emphasis text-dark px-2">
                        Dashboard
                    </a>
                }
            }
        </li>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-action="ListUsers" asp-controller="Administration"
                       class="dropdown-item">Users</a>
                    <a asp-action="ListRoles" asp-controller="Administration"
                       class="dropdown-item">Roles</a>
                    <a asp-action="ListBenefits" asp-controller="Benefit"
                       class="dropdown-item">Benefit</a>
                    <a asp-action="ListSpecialization" asp-controller="Specialization"
                       class="dropdown-item">Specialization</a>
                    <a asp-action="ListClasses" asp-controller="FitnessClass"
                       class="dropdown-item">Fitness Class</a>
                    <a asp-action="ListMembershipType" asp-controller="MembershipType"
                       class="dropdown-item">Membership Type</a>
                </div>
            </li>
        }
        <li class="nav-item">
            <a asp-controller="Auth" asp-controller="Home" asp-action="Logout" class="nav-link link-body-emphasis text-dark px-2">
                Log Out
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="SignUp" asp-controller="Auth">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Auth">Login</a>
        </li>
    }
</ul>
