@model GetFitApp.Models.Trainer.TrainerDetailsViewModel

@{
    ViewData["Title"] = "Delete Details";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <h4>Confirm Deletion</h4>
    <p>Are you sure you want to delete your details?</p>
    <form asp-action="DeleteTrainer" asp-controller="Trainer">
        <div>
            <input type="submit" value="Delete" class="btn btn-danger rounded-pill" />
            <a style="width:auto" asp-action="Index" class="btn btn-primary rounded-pill">Cancle</a>
        </div>
    </form>
</div>