@model GetFitApp.Data.Entities.Trainer

<h1>GetFit</h1>

<h3>Welcome @(User!.Identity!.Name!.ToUpper())</h3>

<div>
    <a asp-action="ViewTrainerDetails" asp-controller="Trainer">View Details</a>
    <a asp-action="UpdateTrainerDetails" asp-controller="Trainer">Update</a>
    <a asp-action="ListMembers" asp-controller="Trainer">Members</a>
    <a asp-action="ListAssignedClasses" asp-controller="Trainer">Class</a>
    <a asp-action="DeleteTrainer" asp-controller="Trainer">Delete</a>
</div>

