@model GetFitApp.Models.FitnessClass.FitnessClassViewModel
@{
    ViewData["Title"] = "Create New Fitness Class";
}

<h2>@ViewData["Title"]</h2>
<hr>

<form asp-action="CreateFitnessClass" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Schedule" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Schedule">
        <span asp-validation-for="Schedule" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Duration" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Duration">
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TrainerId" class="form-label"></label>
        <select asp-for="TrainerId" class="form-control">
            <option value="" selected hidden disabled>Select a trainer for class</option>
            @foreach (var item in Model.Trainers)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="TrainerId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description"></input>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input type="file" class="form-control" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="ListClasses" class="btn btn-primary">Cancel</a>
</form>
