@model GetFitApp.Data.Entities.Member

<h1>GetFit</h1>

<h3>Welcome @(User!.Identity!.Name!.ToUpper())</h3>

<div>
    <a asp-action="ViewMemberDetails" asp-controller="Member">View Details</a>
    <a asp-action="UpdateMemberDetails" asp-controller="Member">Update</a>
    <a asp-action="DeleteMember" asp-controller="Member">Delete</a>
</div>