@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <img src="images/getfit-bg.jpg" alt="Homepage Image" class="img-fluid" />
    <div class="hero-section">
        <h1>Welcome to GetFIT</h1>
        <h4>WHY CHOOSE US?</h4>
        <p>
            UNIQUE EXPERIENCE TAILORED TO YOUR LIFESTYLE
        </p>
    </div>
</div>
    
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="card-container">
            <div class="card text-center">
                <div class="card-body" >
                    <i class="fas fa-calendar-alt mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Wide Range of Fitness Programs</h5>
                    <p>
                        Our fitness schedules offer a wide range of low to high-intensity fitness programs to suit your fitness lifestyle. There’s something for everyone!
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-user-friends mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Supportive Community</h5>
                    <p>
                        Enjoy a sense of belonging in a community that supports your fitness goals and reminds you that you are not alone!
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-dumbbell mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Ultra-Modern Facilities</h5>
                    <p>
                        At GetFIT, we are proud to offer our members a team of certified personal trainers and more than a hundred state-of-the-art facilities to help you reach your peak performance.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card-container">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-leaf mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Healthy Nutrition Plan</h5>
                    <p>
                        Our nutrition plan is designed by certified nutritionists and is tailored to meet the unique needs of each individual member.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-clipboard-list mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Professional Training Plan</h5>
                    <p>
                        Our certified trainers will work with you to create a personalized plan that fits your unique needs and helps you achieve your fitness goals.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-gem mb-3 fs-1"></i>
                    <h5 style="color: #6610f2">Unique to Your Needs</h5>
                    <p>
                        Whether you're a beginner looking to get started on a fitness journey or a seasoned gym-goer looking to take your training to the next level, our trainers will help youget there.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="text-center">
    <h6 style="color:  #6610f2" class="display-6">...Unleash Your Potentials, Transform Your Body</h6>
</div> *@
<div class="container-fluid">
    <img src="images/getfit-bg2.jpg" alt="Homepage Image" class="img-fluid" />
    <div class="image-caption">
        <h4>...Unleash Your Potentials, Transform Your Body</h4>
    </div>
</div>
