@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome To GetFIT</h4>
</div>

<div>
    <h6 class="display-6">WHY GetFit?</h6>
    <h5>Unique Experiences Tailored To Your Lifestyle</h5>
    <hr>
    <h4>Wide Range of Fitness Programs</h4>
    <p>
    Our fitness schedules offers a wide range of low to high-intensity fitness programmes to suit your fitness lifestyle. There’s something for everyone!
    </p>
    <h4>Supportive Community</h4>
    <p>
        Enjoy a sense of belonging in a community that supports your fitness goals and reminds you that you are not alone!
    </p>
    <h4>Ultra-Modern Facilities</h4>
    <p>
        At GetFIT, we are proud to offer our members a team of certified personal trainers and more than a hundred state-of-the-art facilities to help you reach your peak performance.
    </p>
    <h4>Healthy nutrition plan</h4>
    <p>
        Our nutrition plan is designed by certified nutritionists and is tailored to meet the unique needs of each individual member.
    </p>
    <h4>Profesional training plan</h4>
    <p>
        Our certified trainers will work with you to create a personalized plan that fits your unique needs and helps you achieve your fitness goals.
    </p>
    <h4>Unique to your needs</h4>
    <p>
        Whether you're a beginner looking to get started on a fitness journey or a seasoned gym-goer looking to take your training to the next level, our trainers will help you get there.
    </p>

</div>

<div class="text-center">
    <h6 class="display-6">...Unleash Your Potential, Transform Your Body</h6>
</div>
