@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    GETFIT is sensitive to privacy issues on the Internet. We believe it is important you know how we treat the information we receive on the Internet about you to create trust and 
    to protect users privacy.

    In general, you can visit GETFIT online without telling us who you are or revealing any information about yourself. Our Web servers collect the domain names, not the e-mail addresses, 
    of visitors. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed, etc. GETFIT uses this information to measure the use of 
    our site and to improve its content.

    <h5>Gathering Information</h5>
    We respect your privacy. Any information submitted through our website forms is kept private and confidential within our business nucleus. 
    The personal information we collect is used only by us to respond to your inquiry and software systems to handle your information and account. 
    This increases our level of customer service and allows us to provide the information you requested in an efficient manner. 
    By providing your telephone number on our website forms, you acknowledge that you are providing your contact information and hereby consent 
    GETFIT to contact you by telephone regarding your inquiry regardless of any Do Not Call Registries.
    <br /><br />
    <h5>Links</h5>
    GETFIT Web site may contain links to other sites. While we try to link only to sites that share our high standards and respect for privacy, 
    GETFIT is not responsible for the content or the privacy practices employed by other sites.
    <br /><br />
    <h5>Cookies</h5>
    More than a great cheat snack. A cookie is a tiny element of data that a Web site can send to your browser, which may then be stored on your hard drive for future recognition. 
    You may set your browser to notify you when you receive a cookie. At this time, we wish to inform users that GETFIT employs the use of cookies for Google Remarketing, Adwords, 
    Tag Manager, Facebook Conversion Tracking.
    <br /><br />
    <h5>Copyright Policy</h5>
    The contents of the GETFIT web site are protected by applicable copyright laws. No permission is granted to copy, distribute, modify, post, or frame any text, graphics, video, 
    audio, software code or user interface design or logos. Unauthorized use or exploitation of such marks and names is strictly prohibited.
    <br /><br />
    <h5>Email</h5>
    E-mail is not a secure medium and privacy cannot be assured. GETFIT cannot assume any responsibility for any harm or damage you may experience or incur by sending personal or 
    confidential information to GETFIT over the Internet by E-mail, or if we send such information at your request.
    <br /><br />
    <h5>Disclaimer of Liability</h5>
    GETFIT is not responsible in any way for any damages (direct, indirect, special, economic, or consequential) in respect of use of this Web site, any of its content or any Web browser.
</p>