@model GetFitApp.Models.Benefit.BenefitViewModel

@{
    ViewData["Title"] = "Update Benefit";
}

<h2>@ViewData["Title"]</h2>
<hr>

<form method="post" class="mb-3">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MembershipTypeId" class="form-label"></label>
        <select asp-for="MembershipTypeId" class="form-control">
            <option value="" selected hidden disabled>Select a Membership Type</option>
            @foreach (var item in Model.MembershipTypes)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="MembershipTypeId" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div>
            <button style="width:auto" type="submit" class="btn btn-success rounded-pill">Save Changes</button>
            <a style="width:auto" asp-action="ListBenefits" class="btn btn-primary rounded-pill">Cancel</a>
        </div>
    </div>
</form>